.icon-32-madd{
  background-image: url('../images/icon-32-multiple.png');
}
.icon-32-install {
  background-image: url('../images/install.png');
}

.icon-32-uninstall {
  background-image: url('../images/uninstall.png');
}
.isJ25 .icon-wait {
  background-image: url('../images/wait.png');
  display: inline-block;
}
.isJ30 .icon-wait:before {  
  display: inline-block;
  color: #ff7f50;
  content: "n";
}
.viewwidget img{
vertical-align: middle;
}
.viewwidget span{
display: inline;

 text-decoration:none;
}
.widgetdemo {
 vertical-align: middle;
}
.white-text, .white-text:hover, .light-text, .light-text:hover {
    color: #FFFFFF;
    text-decoration: none !important;
}

#modal-madd{
	width:800px;
	margin-left:-400px;
}
#modal-madd iframe{
	border:none;
}
#modal-madd .modal-body{
	max-height:500px;
}
#toolbar-popup-madd .icon-cog:before{
	content:"1";
}
#toolbar-popup-new .icon-cog:before{
	content:"*";
}
#modal-madd .modal-header h3{
	display:none;
}
.modal-header {
	border: 0 none !important; 
	padding: 0 !important; 
	position: absolute; 
	right: -2px; top: -2px; 
	z-index: 999; 
	text-indent:-999px; 
}