.bt-ItemImageBlock {
  float: left;
  margin: -21px 30px 7px -21px;
}
.bt-icon-drop {
  right: -1px;
  left: auto;
}
span.latestItemDateCreated,
div.catItemHeader span.catItemDateCreated,
div.userItemHeader span.userItemDateCreated,
div.tagItemHeader span.tagItemDateCreated {
  background: url("../../templates/bt_education/images/icon-date-k2.png") no-repeat scroll left center transparent;
  padding-left: 20px;
  padding-right: 0;
  display: inline-block;
}
span.tagItemCategory,
span.userItemCategory,
span.latestItemCategory,
span.catItemCategory {
  display: inline-block;
}
.k2ReadMore {
  background-position: right center;
  padding: 0 20px 0 0;
}
div.latestItemTagsBlock,
div.catItemTagsBlock,
div.itemTagsBlock,
div.userItemTagsBlock {
  background-position: left center;
  padding: 10px 0 7px 40px;
}
div.itemToolbar ul li a.itemCommentsLink,
span.catItemCommentsLink,
span.userItemCommentsLink,
span.latestItemCommentsLink {
  background: url("../../templates/bt_education/images/icon-comment-k2.png") no-repeat left center;
  padding-left: 20px;
  display: inline-block;
}
div.catItemHeader span.catItemAuthor {
  display: inline-block;
}
.itemDateCreated {
  float: left;
}
div.bt-inforbasic-item span {
  margin-right: 6px;
  display: inline-block;
}
div.bt-inforbasic-item span.itemAuthor {
  margin-left: 100px;
  display: inline-block;
}
div.itemToolbar ul li a.itemPrintLink {
  background-position: left center;
  padding-left: 20px;
}
div.itemToolbar ul li a.itemEmailLink {
  background-position: left center;
  padding-left: 20px;
}
div.itemTagsBlock {
  float: left;
}
.bt-user-avatar {
  float: left;
  margin: -21px 0 -1px -21px;
  margin-right: 28px;
  border-right: 1px solid #e9e9e9;
}
div.itemToolbar ul {
  text-align: left;
}
div.itemToolbar ul li {
  padding: 0 8px 0 0;
}
div.itemAuthorLatest ul li,
div.itemRelated ul li {
  padding: 10px 0 10px 16px;
  background: url("../../templates/bt_education/images/icon-li-relate.png") no-repeat left 17px;
}
div.itemCommentsForm form input.inputbox {
  float: left;
  margin: 0 10px 10px 0;
}
div.itemCommentsForm form .form-row {
  margin-right: 10px;
}
div.k2Pagination ul {
  float: left;
}
.pagecounter {
  float: right;
  margin-right: 16px;
}