/*========= UPDATE VERSION 1.1 ========*/
#t3-mainbody .app-box-filter a{
	margin-bottom:5px;
}
#community-wrap a.cFile-Upload{
	margin-bottom:10px;
	margin-left:10px;
}
#community-wrap .image_cover img{
	position:relative;
}
#community-wrap .text-right.reposition_buton{
	position:absolute;
	top:15px;
	right:15px;
	z-index:999;
}
#community-wrap .js-focus-content{
	position:absolute;
	bottom:0;
	width:100%;
}

#community-wrap .js-focus-cover:after {
    padding-top: 40%;
}
#community-wrap .cover-block-infor-detail .cEvent-Rsvp{
	margin-right:15px;
}
#community-wrap .js-focus-actions .navbar .btn-navbar.js-collapse-btn {
    background-color: #ededed !important;
    background-image: linear-gradient(to bottom, #f2f2f2, #e5e5e5) !important;
	height:17px;
}
#community-wrap .js-focus-actions .navbar .btn-navbar.js-collapse-btn:hover{
    background-color: #ededed !important;
    background-image: linear-gradient(to bottom, #e5e5e5, #f2f2f2) !important;
}
@media (max-width: 479px){
.cover-block-avatar {
    margin-top: 20px;
	float:left;
}
.cover-block-infor {
    margin-left: 100px;
}
#community-wrap .js-focus-menu {
    padding: 0px;
}

}


/**hungtx update */
#btl{
	display:inline-block;
}

.mod-languages{
	float:right;
	background: #fff url(../images/language.png) center center no-repeat;
	width:54px;
	height:45px;
	cursor:pointer;
	position:relative;
	z-index:999;
}
.mod-languages .mod-languages-content{
	top:45px;
	right:0;
	position:absolute;
	display:inline-block;
	width:200px;
	transition: max-height 500ms ease 0s;
	box-shadow:5px 5px 5px grey;
	z-index:999;
	background:#fff;
	backface-visibility: hidden;
	max-height:0;
	overflow:hidden;
}
.mod-languages .mod-languages-content ul{
	margin:10px 0;
}
.mod-languages li{
	display:block!important;
	padding:5px 30px 5px 20px;
}
.mod-languages:hover .mod-languages-content{
	max-height:500px;
}
.mod-languages li img{
	margin-right:10px;
}
.contact .contact-form fieldset dd{margin: 0 5px 0 0;}
.contact .contact-form fieldset label#jform_contact_email_copy-lbl{padding: 0;}
.contact .contact-form fieldset dd #jform_contact_email_copy{margin: 0;}
.contact .contact-form fieldset dt{ float: none;}
.joms-stream__loadmore{margin-top: 10px;}