

@media (min-width: 980px) and (max-width: 1199px) {
  .row {
    margin-right: -20px;
    *zoom: 1;
  }
  .row:before,
  .row:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row:after {
    clear: both;
  }
  [class*="span"] {
    float: right;
    min-height: 1px;
    margin-right: 20px;
  }
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 976px;
  }
  .span12 {
    width: 976px;
  }
  .span11 {
    width: 893px;
  }
  .span10 {
    width: 810px;
  }
  .span9 {
    width: 727px;
  }
  .span8 {
    width: 644px;
  }
  .span7 {
    width: 561px;
  }
  .span6 {
    width: 478px;
  }
  .span5 {
    width: 395px;
  }
  .span4 {
    width: 312px;
  }
  .span3 {
    width: 229px;
  }
  .span2 {
    width: 146px;
  }
  .span1 {
    width: 63px;
  }
  .offset12 {
    margin-right: 1016px;
  }
  .offset11 {
    margin-right: 933px;
  }
  .offset10 {
    margin-right: 850px;
  }
  .offset9 {
    margin-right: 767px;
  }
  .offset8 {
    margin-right: 684px;
  }
  .offset7 {
    margin-right: 601px;
  }
  .offset6 {
    margin-right: 518px;
  }
  .offset5 {
    margin-right: 435px;
  }
  .offset4 {
    margin-right: 352px;
  }
  .offset3 {
    margin-right: 269px;
  }
  .offset2 {
    margin-right: 186px;
  }
  .offset1 {
    margin-right: 103px;
  }
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 34px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    margin-right: 2.0491803278689%;
    *margin-right: 1.9979508196721%;
  }
  .row-fluid [class*="span"]:first-child {
    margin-right: 0;
  }
  .row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-right: 2.0491803278689%;
  }
  .row-fluid .span12 {
    width: 100%;
    *width: 99.948770491803%;
  }
  .row-fluid .span11 {
    width: 91.495901639344%;
    *width: 91.444672131148%;
  }
  .row-fluid .span10 {
    width: 82.991803278689%;
    *width: 82.940573770492%;
  }
  .row-fluid .span9 {
    width: 74.487704918033%;
    *width: 74.436475409836%;
  }
  .row-fluid .span8 {
    width: 65.983606557377%;
    *width: 65.93237704918%;
  }
  .row-fluid .span7 {
    width: 57.479508196721%;
    *width: 57.428278688525%;
  }
  .row-fluid .span6 {
    width: 48.975409836066%;
    *width: 48.924180327869%;
  }
  .row-fluid .span5 {
    width: 40.47131147541%;
    *width: 40.420081967213%;
  }
  .row-fluid .span4 {
    width: 31.967213114754%;
    *width: 31.915983606557%;
  }
  .row-fluid .span3 {
    width: 23.463114754098%;
    *width: 23.411885245902%;
  }
  .row-fluid .span2 {
    width: 14.959016393443%;
    *width: 14.907786885246%;
  }
  .row-fluid .span1 {
    width: 6.4549180327869%;
    *width: 6.4036885245902%;
  }
  .row-fluid .offset12 {
    margin-right: 104.09836065574%;
    *margin-right: 103.99590163934%;
  }
  .row-fluid .offset12:first-child {
    margin-right: 102.04918032787%;
    *margin-right: 101.94672131148%;
  }
  .row-fluid .offset11 {
    margin-right: 95.594262295082%;
    *margin-right: 95.491803278689%;
  }
  .row-fluid .offset11:first-child {
    margin-right: 93.545081967213%;
    *margin-right: 93.44262295082%;
  }
  .row-fluid .offset10 {
    margin-right: 87.090163934426%;
    *margin-right: 86.987704918033%;
  }
  .row-fluid .offset10:first-child {
    margin-right: 85.040983606557%;
    *margin-right: 84.938524590164%;
  }
  .row-fluid .offset9 {
    margin-right: 78.58606557377%;
    *margin-right: 78.483606557377%;
  }
  .row-fluid .offset9:first-child {
    margin-right: 76.536885245902%;
    *margin-right: 76.434426229508%;
  }
  .row-fluid .offset8 {
    margin-right: 70.081967213115%;
    *margin-right: 69.979508196721%;
  }
  .row-fluid .offset8:first-child {
    margin-right: 68.032786885246%;
    *margin-right: 67.930327868852%;
  }
  .row-fluid .offset7 {
    margin-right: 61.577868852459%;
    *margin-right: 61.475409836066%;
  }
  .row-fluid .offset7:first-child {
    margin-right: 59.52868852459%;
    *margin-right: 59.426229508197%;
  }
  .row-fluid .offset6 {
    margin-right: 53.073770491803%;
    *margin-right: 52.97131147541%;
  }
  .row-fluid .offset6:first-child {
    margin-right: 51.024590163934%;
    *margin-right: 50.922131147541%;
  }
  .row-fluid .offset5 {
    margin-right: 44.569672131148%;
    *margin-right: 44.467213114754%;
  }
  .row-fluid .offset5:first-child {
    margin-right: 42.520491803279%;
    *margin-right: 42.418032786885%;
  }
  .row-fluid .offset4 {
    margin-right: 36.065573770492%;
    *margin-right: 35.963114754098%;
  }
  .row-fluid .offset4:first-child {
    margin-right: 34.016393442623%;
    *margin-right: 33.91393442623%;
  }
  .row-fluid .offset3 {
    margin-right: 27.561475409836%;
    *margin-right: 27.459016393443%;
  }
  .row-fluid .offset3:first-child {
    margin-right: 25.512295081967%;
    *margin-right: 25.409836065574%;
  }
  .row-fluid .offset2 {
    margin-right: 19.05737704918%;
    *margin-right: 18.954918032787%;
  }
  .row-fluid .offset2:first-child {
    margin-right: 17.008196721311%;
    *margin-right: 16.905737704918%;
  }
  .row-fluid .offset1 {
    margin-right: 10.553278688525%;
    *margin-right: 10.450819672131%;
  }
  .row-fluid .offset1:first-child {
    margin-right: 8.5040983606557%;
    *margin-right: 8.4016393442623%;
  }
  input,
  textarea,
  .uneditable-input {
    margin-right: 0;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-right: 20px;
  }
  input.span12, textarea.span12, .uneditable-input.span12 {
    width: 962px;
  }
  input.span11, textarea.span11, .uneditable-input.span11 {
    width: 879px;
  }
  input.span10, textarea.span10, .uneditable-input.span10 {
    width: 796px;
  }
  input.span9, textarea.span9, .uneditable-input.span9 {
    width: 713px;
  }
  input.span8, textarea.span8, .uneditable-input.span8 {
    width: 630px;
  }
  input.span7, textarea.span7, .uneditable-input.span7 {
    width: 547px;
  }
  input.span6, textarea.span6, .uneditable-input.span6 {
    width: 464px;
  }
  input.span5, textarea.span5, .uneditable-input.span5 {
    width: 381px;
  }
  input.span4, textarea.span4, .uneditable-input.span4 {
    width: 298px;
  }
  input.span3, textarea.span3, .uneditable-input.span3 {
    width: 215px;
  }
  input.span2, textarea.span2, .uneditable-input.span2 {
    width: 132px;
  }
  input.span1, textarea.span1, .uneditable-input.span1 {
    width: 49px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .offset-12 {
    margin-right: -760px;
  }
  .offset-11 {
    margin-right: -695px;
  }
  .offset-10 {
    margin-right: -630px;
  }
  .offset-9 {
    margin-right: -565px;
  }
  .offset-8 {
    margin-right: -500px;
  }
  .offset-7 {
    margin-right: -435px;
  }
  .offset-6 {
    margin-right: -370px;
  }
  .offset-5 {
    margin-right: -305px;
  }
  .offset-4 {
    margin-right: -240px;
  }
  .offset-3 {
    margin-right: -175px;
  }
  .offset-2 {
    margin-right: -110px;
  }
  .offset-1 {
    margin-right: -45px;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  .offset-12 {
    margin-right: -976px;
  }
  .offset-11 {
    margin-right: -893px;
  }
  .offset-10 {
    margin-right: -810px;
  }
  .offset-9 {
    margin-right: -727px;
  }
  .offset-8 {
    margin-right: -644px;
  }
  .offset-7 {
    margin-right: -561px;
  }
  .offset-6 {
    margin-right: -478px;
  }
  .offset-5 {
    margin-right: -395px;
  }
  .offset-4 {
    margin-right: -312px;
  }
  .offset-3 {
    margin-right: -229px;
  }
  .offset-2 {
    margin-right: -146px;
  }
  .offset-1 {
    margin-right: -63px;
  }
}
@media (min-width: 1200px) {
  .offset-12 {
    margin-right: -1170px;
  }
  .offset-11 {
    margin-right: -1070px;
  }
  .offset-10 {
    margin-right: -970px;
  }
  .offset-9 {
    margin-right: -870px;
  }
  .offset-8 {
    margin-right: -770px;
  }
  .offset-7 {
    margin-right: -670px;
  }
  .offset-6 {
    margin-right: -570px;
  }
  .offset-5 {
    margin-right: -470px;
  }
  .offset-4 {
    margin-right: -370px;
  }
  .offset-3 {
    margin-right: -270px;
  }
  .offset-2 {
    margin-right: -170px;
  }
  .offset-1 {
    margin-right: -70px;
  }
}
@media (min-width: 600px) and (max-width: 767px) {
  .row,
  .row-fluid {
    width: 100%;
    margin-right: 0;
    *zoom: 1;
  }
  .row:before,
  .row:after,
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row:after,
  .row-fluid:after {
    clear: both;
  }
  .row [class*="span"],
  .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 34px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    margin-right: 2.6315789473684%;
    *margin-right: 2.5803494391717%;
  }
  .row [class*="span"]:first-child:not(.pull-right),
  .row-fluid [class*="span"]:first-child:not(.pull-right) {
    margin-right: 0;
  }
  .row [class*="span"].pull-left:first-child + [class*="span"]:not(.pull-right),
  .row-fluid [class*="span"].pull-left:first-child + [class*="span"]:not(.pull-right) {
    margin-right: 0;
  }
  .row .span12,
  .row-fluid .span12 {
    width: 100%;
    *width: 99.948770491803%;
  }
  .row .span11,
  .row-fluid .span11 {
    width: 91.447368421053%;
    *width: 91.396138912856%;
  }
  .row .span10,
  .row-fluid .span10 {
    width: 82.894736842105%;
    *width: 82.843507333909%;
  }
  .row .span9,
  .row-fluid .span9 {
    width: 74.342105263158%;
    *width: 74.290875754961%;
  }
  .row .span8,
  .row-fluid .span8 {
    width: 65.789473684211%;
    *width: 65.738244176014%;
  }
  .row .span7,
  .row-fluid .span7 {
    width: 57.236842105263%;
    *width: 57.185612597066%;
  }
  .row .span6,
  .row-fluid .span6 {
    width: 48.684210526316%;
    *width: 48.632981018119%;
  }
  .row .span5,
  .row-fluid .span5 {
    width: 40.131578947368%;
    *width: 40.080349439172%;
  }
  .row .span4,
  .row-fluid .span4 {
    width: 31.578947368421%;
    *width: 31.527717860224%;
  }
  .row .span3,
  .row-fluid .span3 {
    width: 23.026315789474%;
    *width: 22.975086281277%;
  }
  .row .span2,
  .row-fluid .span2 {
    width: 14.473684210526%;
    *width: 14.42245470233%;
  }
  .row .span1,
  .row-fluid .span1 {
    width: 5.9210526315789%;
    *width: 5.8698231233822%;
  }
  .span12 .row [class*="span"] {
    margin-right: 2.6315789473684%;
    *margin-right: 2.5803494391717%;
  }
  .span12 .row [class*="span"]:first-child {
    margin-right: 0;
  }
  .span12 .row .span12 {
    width: 100%;
    *width: 99.948770491803%;
  }
  .span12 .row .span11 {
    width: 91.447368421053%;
    *width: 91.396138912856%;
  }
  .span12 .row .span10 {
    width: 82.894736842105%;
    *width: 82.843507333909%;
  }
  .span12 .row .span9 {
    width: 74.342105263158%;
    *width: 74.290875754961%;
  }
  .span12 .row .span8 {
    width: 65.789473684211%;
    *width: 65.738244176014%;
  }
  .span12 .row .span7 {
    width: 57.236842105263%;
    *width: 57.185612597066%;
  }
  .span12 .row .span6 {
    width: 48.684210526316%;
    *width: 48.632981018119%;
  }
  .span12 .row .span5 {
    width: 40.131578947368%;
    *width: 40.080349439172%;
  }
  .span12 .row .span4 {
    width: 31.578947368421%;
    *width: 31.527717860224%;
  }
  .span12 .row .span3 {
    width: 23.026315789474%;
    *width: 22.975086281277%;
  }
  .span12 .row .span2 {
    width: 14.473684210526%;
    *width: 14.42245470233%;
  }
  .span12 .row .span1 {
    width: 5.9210526315789%;
    *width: 5.8698231233822%;
  }
  .span11 .row [class*="span"] {
    margin-right: 2.8776978417266%;
    *margin-right: 2.8264683335299%;
  }
  .span11 .row [class*="span"]:first-child {
    margin-right: 0;
  }
  .span11 .row .span11 {
    width: 91.447368421053%;
    *width: 91.396138912856%;
  }
  .span11 .row .span10 {
    width: 82.894736842105%;
    *width: 82.843507333909%;
  }
  .span11 .row .span9 {
    width: 74.342105263158%;
    *width: 74.290875754961%;
  }
  .span11 .row .span8 {
    width: 65.789473684211%;
    *width: 65.738244176014%;
  }
  .span11 .row .span7 {
    width: 57.236842105263%;
    *width: 57.185612597066%;
  }
  .span11 .row .span6 {
    width: 48.684210526316%;
    *width: 48.632981018119%;
  }
  .span11 .row .span5 {
    width: 40.131578947368%;
    *width: 40.080349439172%;
  }
  .span11 .row .span4 {
    width: 31.578947368421%;
    *width: 31.527717860224%;
  }
  .span11 .row .span3 {
    width: 23.026315789474%;
    *width: 22.975086281277%;
  }
  .span11 .row .span2 {
    width: 14.473684210526%;
    *width: 14.42245470233%;
  }
  .span11 .row .span1 {
    width: 5.9210526315789%;
    *width: 5.8698231233822%;
  }
  .span10 .row [class*="span"] {
    margin-right: 3.1746031746032%;
    *margin-right: 3.1233736664065%;
  }
  .span10 .row [class*="span"]:first-child {
    margin-right: 0;
  }
  .span10 .row .span10 {
    width: 90.647482014389%;
    *width: 90.596252506192%;
  }
  .span10 .row .span9 {
    width: 81.294964028777%;
    *width: 81.24373452058%;
  }
  .span10 .row .span8 {
    width: 71.942446043165%;
    *width: 71.891216534969%;
  }
  .span10 .row .span7 {
    width: 62.589928057554%;
    *width: 62.538698549357%;
  }
  .span10 .row .span6 {
    width: 53.237410071942%;
    *width: 53.186180563746%;
  }
  .span10 .row .span5 {
    width: 43.884892086331%;
    *width: 43.833662578134%;
  }
  .span10 .row .span4 {
    width: 34.532374100719%;
    *width: 34.481144592523%;
  }
  .span10 .row .span3 {
    width: 25.179856115108%;
    *width: 25.128626606911%;
  }
  .span10 .row .span2 {
    width: 15.827338129496%;
    *width: 15.7761086213%;
  }
  .span10 .row .span1 {
    width: 6.4748201438849%;
    *width: 6.4235906356882%;
  }
  .span9 .row [class*="span"] {
    margin-right: 3.5398230088496%;
    *margin-right: 3.4885935006528%;
  }
  .span9 .row [class*="span"]:first-child {
    margin-right: 0;
  }
  .span9 .row .span9 {
    width: 89.68253968254%;
    *width: 89.631310174343%;
  }
  .span9 .row .span8 {
    width: 79.365079365079%;
    *width: 79.313849856883%;
  }
  .span9 .row .span7 {
    width: 69.047619047619%;
    *width: 68.996389539422%;
  }
  .span9 .row .span6 {
    width: 58.730158730159%;
    *width: 58.678929221962%;
  }
  .span9 .row .span5 {
    width: 48.412698412698%;
    *width: 48.361468904502%;
  }
  .span9 .row .span4 {
    width: 38.095238095238%;
    *width: 38.044008587041%;
  }
  .span9 .row .span3 {
    width: 27.777777777778%;
    *width: 27.726548269581%;
  }
  .span9 .row .span2 {
    width: 17.460317460317%;
    *width: 17.409087952121%;
  }
  .span9 .row .span1 {
    width: 7.1428571428571%;
    *width: 7.0916276346604%;
  }
  .span8 .row [class*="span"] {
    margin-right: 4%;
    *margin-right: 3.9487704918033%;
  }
  .span8 .row [class*="span"]:first-child {
    margin-right: 0;
  }
  .span8 .row .span8 {
    width: 88.495575221239%;
    *width: 88.444345713042%;
  }
  .span8 .row .span7 {
    width: 76.991150442478%;
    *width: 76.939920934281%;
  }
  .span8 .row .span6 {
    width: 65.486725663717%;
    *width: 65.43549615552%;
  }
  .span8 .row .span5 {
    width: 53.982300884956%;
    *width: 53.931071376759%;
  }
  .span8 .row .span4 {
    width: 42.477876106195%;
    *width: 42.426646597998%;
  }
  .span8 .row .span3 {
    width: 30.973451327434%;
    *width: 30.922221819237%;
  }
  .span8 .row .span2 {
    width: 19.469026548673%;
    *width: 19.417797040476%;
  }
  .span8 .row .span1 {
    width: 7.9646017699115%;
    *width: 7.9133722617148%;
  }
  .span7 .row [class*="span"] {
    margin-right: 4.5977011494253%;
    *margin-right: 4.5464716412286%;
  }
  .span7 .row [class*="span"]:first-child {
    margin-right: 0;
  }
  .span7 .row .span7 {
    width: 87%;
    *width: 86.948770491803%;
  }
  .span7 .row .span6 {
    width: 74%;
    *width: 73.948770491803%;
  }
  .span7 .row .span5 {
    width: 61%;
    *width: 60.948770491803%;
  }
  .span7 .row .span4 {
    width: 48%;
    *width: 47.948770491803%;
  }
  .span7 .row .span3 {
    width: 35%;
    *width: 34.948770491803%;
  }
  .span7 .row .span2 {
    width: 22%;
    *width: 21.948770491803%;
  }
  .span7 .row .span1 {
    width: 9%;
    *width: 8.9487704918033%;
  }
  .span6 .row [class*="span"] {
    margin-right: 5.4054054054054%;
    *margin-right: 5.3541758972087%;
  }
  .span6 .row [class*="span"]:first-child {
    margin-right: 0;
  }
  .span6 .row .span6 {
    width: 85.057471264368%;
    *width: 85.006241756171%;
  }
  .span6 .row .span5 {
    width: 70.114942528736%;
    *width: 70.063713020539%;
  }
  .span6 .row .span4 {
    width: 55.172413793103%;
    *width: 55.121184284907%;
  }
  .span6 .row .span3 {
    width: 40.229885057471%;
    *width: 40.178655549275%;
  }
  .span6 .row .span2 {
    width: 25.287356321839%;
    *width: 25.236126813642%;
  }
  .span6 .row .span1 {
    width: 10.344827586207%;
    *width: 10.29359807801%;
  }
  .span5 .row [class*="span"] {
    margin-right: 6.5573770491803%;
    *margin-right: 6.5061475409836%;
  }
  .span5 .row [class*="span"]:first-child {
    margin-right: 0;
  }
  .span5 .row .span5 {
    width: 82.432432432432%;
    *width: 82.381202924236%;
  }
  .span5 .row .span4 {
    width: 64.864864864865%;
    *width: 64.813635356668%;
  }
  .span5 .row .span3 {
    width: 47.297297297297%;
    *width: 47.246067789101%;
  }
  .span5 .row .span2 {
    width: 29.72972972973%;
    *width: 29.678500221533%;
  }
  .span5 .row .span1 {
    width: 12.162162162162%;
    *width: 12.110932653965%;
  }
  .span4 .row [class*="span"] {
    margin-right: 8.3333333333333%;
    *margin-right: 8.2821038251366%;
  }
  .span4 .row [class*="span"]:first-child {
    margin-right: 0;
  }
  .span4 .row .span4 {
    width: 78.688524590164%;
    *width: 78.637295081967%;
  }
  .span4 .row .span3 {
    width: 57.377049180328%;
    *width: 57.325819672131%;
  }
  .span4 .row .span2 {
    width: 36.065573770492%;
    *width: 36.014344262295%;
  }
  .span4 .row .span1 {
    width: 14.754098360656%;
    *width: 14.702868852459%;
  }
  .span3 .row [class*="span"] {
    margin-right: 11.428571428571%;
    *margin-right: 11.377341920375%;
  }
  .span3 .row [class*="span"]:first-child {
    margin-right: 0;
  }
  .span3 .row .span3 {
    width: 72.916666666667%;
    *width: 72.86543715847%;
  }
  .span3 .row .span2 {
    width: 45.833333333333%;
    *width: 45.782103825137%;
  }
  .span3 .row .span1 {
    width: 18.75%;
    *width: 18.698770491803%;
  }
  .span2 .row [class*="span"] {
    margin-right: 18.181818181818%;
    *margin-right: 18.130588673621%;
  }
  .span2 .row [class*="span"]:first-child {
    margin-right: 0;
  }
  .span2 .row .span2 {
    width: 62.857142857143%;
    *width: 62.805913348946%;
  }
  .span2 .row .span1 {
    width: 25.714285714286%;
    *width: 25.663056206089%;
  }
  .span1 .row [class*="span"] {
    margin-right: 44.444444444444%;
    *margin-right: 44.393214936248%;
  }
  .span1 .row [class*="span"]:first-child {
    margin-right: 0;
  }
  .span1 .row .span1 {
    width: 40.909090909091%;
    *width: 40.857861400894%;
  }
  .spanfirst {
    margin-right: 0 !important;
    clear: right;
  }
}
.row .span50,
.row-fluid .span50 {
  width: 50%;
  float: right;
}
.row .span33,
.row-fluid .span33 {
  width: 33.3333%;
  float: right;
}
.row .span25,
.row-fluid .span25 {
  width: 25%;
  float: right;
}
.row .span20,
.row-fluid .span20 {
  width: 20%;
  float: right;
}
.row .span16,
.row-fluid .span16 {
  width: 16.6666%;
  float: right;
}
.hidden-default {
  display: none !important;
}
@media (min-width: 1200px) {
  .hidden-wide {
    display: none !important;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  .hidden-normal {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .hidden-xtablet {
    display: none !important;
  }
}
@media (min-width: 600px) and (max-width: 767px) {
  .hidden-tablet {
    display: none !important;
  }
}
@media (max-width: 599px) {
  .hidden-mobile {
    display: none !important;
  }
}

.hidden {
  display: none !important;
  visibility: hidden;
}
@media (min-width: 768px) and (max-width: 979px) {
  .jumbotron {
    padding: 24px 0;
  }
  .jumbotron h1 {
    font-size: 24px;
  }
  .jumbotron p {
    font-size: 12px;
  }
  .masthead {
    padding: 48px 0;
  }
  .masthead h1 {
    font-size: 48px;
  }
  .masthead p {
    font-size: 24px;
  }
  .masthead .btn-large {
    font-size: 14px;
    padding: 10px 14px;
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .jumbotron {
    padding: 24px 0;
  }
  .jumbotron h1 {
    font-size: 24px;
  }
  .jumbotron p {
    font-size: 14px;
  }
  .masthead {
    padding: 24px 0;
  }
  .masthead h1 {
    font-size: 24px;
  }
  .masthead p {
    font-size: 14px;
  }
  .masthead .btn-large {
    font-size: 12px;
    padding: 10px 14px;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .always-show .mega > .mega-dropdown-menu,
  .always-show .dropdown-menu {
    display: block !important;
  }
  .navbar-collapse-fixed-top,
  .navbar-collapse-fixed-bottom {
    border-top: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  .navbar-collapse-fixed-top .nav-collapse,
  .navbar-collapse-fixed-bottom .nav-collapse {
    position: absolute;
    width: 100%;
    right: 0;
    top: 41px;
    margin: 0;
  }
  .navbar-collapse-fixed-top .nav-collapse.in,
  .navbar-collapse-fixed-bottom .nav-collapse.in {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .navbar-collapse-fixed-top .nav-collapse.in > *,
  .navbar-collapse-fixed-bottom .nav-collapse.in > * {
    -webkit-transform: translateZ(0);
  }
  .navbar-collapse-fixed-top .nav-collapse.animate,
  .navbar-collapse-fixed-bottom .nav-collapse.animate {
    overflow: hidden;
  }
  .navbar-collapse-fixed-bottom {
    bottom: 0;
    top: auto;
  }
  .navbar-collapse-fixed-bottom .nav-collapse {
    bottom: 41px;
    top: auto;
  }
  .navbar-collapse-fixed-bottom .btn-navbar {
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 24px;
    line-height: 1.25;
  }
  h1 small {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
    line-height: 1.25;
  }
  h2 small {
    font-size: 18px;
  }
  h3 {
    font-size: 15px;
    line-height: 1.25;
  }
  h3 small {
    font-size: 12px;
  }
  h4,
  h5,
  h6 {
    font-size: 12px;
    line-height: 1.25;
  }
  h4 small,
  h5 small,
  h6 small {
    font-size: 12px -2px;
  }
}

@media (max-width: 767px) {
  .t3-navhelper {
    margin-right: -20px;
    margin-left: -20px;
  }
  .t3-mainnav {
    background: #e6e6e6;
    border-top: 1px solid #d9d9d9;
    height: auto;
    margin-right: -20px;
    margin-left: -20px;
  }
  .t3-mainnav .navbar .btn-navbar:hover {
    cursor: pointer;
  }
  .t3-mainnav .nav-collapse {
    margin-top: 12px;
    background: #fff;
  }
  .t3-mainnav .nav-collapse .nav {
    margin: 0;
  }
  .t3-mainnav .nav-collapse .nav > li > a {
    margin-bottom: 0;
  }
  .t3-mainnav .nav-collapse .nav > li > span {
    padding: 8px 24px;
    display: inline-block;
  }
  .t3-mainnav .nav-collapse .nav > li > a,
  .t3-mainnav .nav-collapse .dropdown-menu a {
    border-bottom: 1px solid #eee;
    padding: 12px 24px;
    font-weight: bold;
    text-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .t3-mainnav .nav-collapse .dropdown-menu li + li a {
    margin-bottom: 0;
  }
  .t3-mainnav .nav-collapse .nav > li > a:hover {
    background-color: #666;
    background-image: none;
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  }
  .t3-mainnav .nav-collapse .dropdown-menu a {
    border-top: 1px solid #d9d9d9;
    border-bottom: 0;
    font-weight: normal;
    padding: 12px 24px;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  }
  .t3-mainnav .nav-collapse .dropdown-menu.open a,
  .t3-mainnav .nav-collapse .dropdown-submenu.open > a,
  .t3-mainnav .nav-collapse .dropdown-menu a:hover {
    background-color: #666;
    background-image: none;
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  }
  .t3-mainnav .nav-collapse .dropdown-menu {
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .t3-mainnav.navbar-collapse-fixed-top,
  .t3-mainnav.navbar-collapse-fixed-bottom {
    margin: 0;
  }
  .t3-mainnav.navbar-collapse-fixed-top .nav-collapse,
  .t3-mainnav.navbar-collapse-fixed-bottom .nav-collapse {
    margin: 0;
  }
  .t3-mainnav .navbar .nav > li > .dropdown-menu:before,
  .t3-mainnav .navbar .nav > li > .dropdown-menu:after,
  .t3-mainnav .navbar .nav > li > .dropdown-menu .divider {
    display: none;
  }
  .t3-mainnav .customization {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  #search-form .word a.btn {
    margin-top: 12px;
  }
}
@media (max-width: 767px) {
  .article-content iframe {
    width: 100% !important;
    height: auto;
  }
  .contact .form-horizontal .control-label.email_copy {
    float: right;
    margin-left: 5px;
  }
  .contact .thumbnail.pull-right {
    width: 100%;
    float: none;
  }
  .contact .thumbnail.pull-right img {
    width: 100%;
  }
  .contact .dl-horizontal dt {
    float: right;
    margin-left: 5px;
  }
  .login-wrap .login_form fieldset,
  .login-wrap .login fieldset {
    padding-right: 24px;
  }
}
@media (max-width: 599px) {
  article img[align=left],
  .img_caption.left,
  article img[align=right],
  .img_caption.right,
  .img-fulltext-left,
  .img-fulltext-right {
    float: none !important;
    margin-right: 0;
    margin-left: 0;
    width: 100% !important;
  }
  a#advanced-search-toggle {
    margin-top: 12px;
  }
  #search-form .word a.btn {
    margin-top: 12px;
  }
}
@media (max-width: 360px) {
  button.button {
    margin-top: 12px;
  }
  #search-form .word button.btn,
  #search-form .word a.btn {
    margin-top: 12px;
  }
}

@media (max-width: 767px) {
  body {
    padding-top: 0px;
  }
  .header_bottom .container {
    position: relative;
  }
  .navbar-collapse-fixed-top,
  .navbar-collapse-fixed-bottom {
    left: 0;
    right: auto !important;
    top: 20px !important;
    position: absolute;
  }
  .head_login {
    margin-left: 20px;
  }
  .t3-navhelper {
    margin: 0;
  }
  .logo {
    padding: 0 20px 0 0;
  }
  .t3-mainnav {
    background: none !important;
  }
  .t3-mainnav .navbar .btn-navbar {
    float: left;
    margin: 0 0 0 20px;
  }
  .t3-mainnav .navbar .btn-navbar [class^="icon-"],
  .t3-mainnav .navbar .btn-navbar [class^=" icon-"] {
    color: #fff;
  }
  .t3-mainnav .navbar .btn-navbar {
    background: #ff3939;
  }
  .navbar-collapse-fixed-top .nav-collapse,
  .navbar-collapse-fixed-bottom .nav-collapse {
    top: 50px;
  }
  .t3-mainnav .navbar .nav {
    margin: 5px 0 15px;
  }
  .t3-mainnav .navbar .nav > li > a {
    padding: 8px 15px !important;
  }
  .t3-megamenu .mega > .mega-dropdown-menu {
    margin-top: 0 !important;
  }
  .nav-collapse .nav > li {
    border-bottom: 1px solid #E5E5E5;
  }
  .t3-mainnav .nav-collapse .dropdown-menu {
    background: none;
  }
  .t3-mainnav .nav-collapse .dropdown-menu a {
    border-color: #e5e5e5;
  }
  .t3-mainnav .dropdown-menu li:first-child > a {
    border-top: 1px solid #e5e5e5;
  }
  .t3-mainnav .navbar .nav > li > .dropdown-menu:before {
    top: 35px !important;
    right: 40px !important;
  }
  .t3-mainnav .nav-collapse .dropdown-menu.open a,
  .t3-mainnav .nav-collapse .dropdown-submenu.open > a,
  .t3-mainnav .nav-collapse .dropdown-menu a:hover {
    background: #ff3939;
  }
  .t3-mainnav .navbar .btn-navbar:hover,
  .t3-mainnav .navbar .btn-navbar:active,
  .t3-mainnav .navbar .btn-navbar:focus {
    background: #ff0606;
  }
  .logo {
    position: relative;
    z-index: 12;
  }
  .t3-mainnav {
    z-index: 11;
  }
  .background_slideshow {
    height: 400px !important;
  }
  #cp-caption-inner {
    top: 30px !important;
  }
  .cp-desc-block {
    padding: 0 20px;
  }
  .cp-title,
  .cp-title a {
    font-size: 24px !important;
    line-height: 36px !important;
  }
  .bgslideshow_desc_big {
    font-size: 18px !important;
  }
  .bgslideshow_desc_small {
    font-size: 13px !important;
    line-height: 24px !important;
  }
}
@media (max-width: 1199px) {
  #login-form input[type="text"],
  #login-form input[type="password"] {
    width: 80% !important;
  }
  #ezblog-body .bt-default-item .bt-image-head .blog-image {
    margin: 0;
  }
  #ezblog-body .blog-text img,
  #ezblog-body .blog-content img {
    width: 100%;
  }
  #ezblog-menu .blog-navi li.toolbar-item {
    border: none;
  }
  #ezblog-posts .blog-content .blog-image {
    float: none;
    display: inline;
    margin: 0;
  }
  #ezblog-body .blog-avatar {
    margin-right: 0;
  }
  #ezblog-body .blog-avatar + .blog-cap {
    clear: none !important;
    margin-top: 0 !important;
  }
  .blog-meta-bottom,
  .blog-taglist {
    margin: 0 10px;
  }
  .bg-form-row .form-row {
    width: 50% !important;
    float: right;
  }
  .form-row-inner {
    padding-left: 10px !important;
  }
  .name-field .form-row-inner,
  .website-field .form-row-inner {
    padding: 0 !important;
  }
  .head_infor {
    position: absolute;
  }
  .navbar .nav > li > a {
    padding: 10px 15px !important;
  }
  .t3-megamenu .mega > .mega-dropdown-menu {
    margin-top: 0 !important;
  }
}
@media (max-width: 767px) {
  .logo {
    float: right !important;
    
    text-align: center;
  }
  .head-search {
    float: right !important;
    margin-top: 24px;
    margin-right: 0 !important;
    width: 100% !important;
  }
  .head-search form {
    float: none;
  }
  .head-search .input {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
  }
  .head-search .input:focus {
    width: 100%;
  }
  .t3-header .span8,
  .t3-header .span4 {
    width: 100% !important;
    margin-right: 0 !important;
    float: none;
  }
  .languageswitcherload {
    float: right;
  }
  .languageswitcherload .mod-languages {
    text-align: left;
  }
  .t3-sl {
    padding-bottom: 24px;
    padding-top: 24px;
  }
  .t3-footer {
    margin-right: -20px;
    margin-left: -20px;
  }
  .t3-footnav {
    padding: 24px 20px 0;
    font-size: 10px;
  }
  .t3-footnav .module-title {
    font-size: 12px;
    font-weight: bold;
  }
  .t3-copyright {
    padding: 24px 20px 48px;
    *zoom: 1;
  }
  .t3-copyright:before,
  .t3-copyright:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .t3-copyright:after {
    clear: both;
  }
  .copyright,
  .poweredby {
    float: none;
    display: inline-block;
    text-align: center;
  }
  .poweredby {
    margin-top: 12px;
  }
  .poweredby .t3-logo,
  .poweredby .t3-logo-small {
    float: none;
    display: inline-block;
  }
  .header_top_inner,
  .header_bottom_inner {
    display: none;
  }
  .header_top .container {
    height: auto !important;
  }
  .top_header_right,
  .top_header_left {
    float: none;
    width: auto !important;
    margin: 0;
  }
  .top_header_left {
    position: static;
  }
  .header_bottom {
    background: #ff3939;
  }
  .t3-header,
  #background_slideshow,
  .top_mainbody,
  .t3-navhelper,
  .t3-copyright {
    margin: 0 -20px;
  }
  .t3-footer .t3-module {
    padding: 0 20px;
  }
  .why_about_us .content_why_box {
    width: 33% !important;
    border-bottom: 1px solid #ff6c6c;
  }
}
@media (max-width: 479px) {
  .itemCommentsForm .form-row .inputbox {
    width: 100%;
    padding: 4px;
    margin: 0;
  }
  div.item-col-of2 {
    float: none;
    width: 100%;
  }
  div.itemRelated {
    margin-right: 0;
  }
  .head_search .search #mod-search-searchword:focus,
  .head_search .search #mod-search-searchword:hover {
    width: 180px !important;
  }
  .why_about_us .content_why_box {
    width: 50% !important;
  }
  #ezblog-body .tab_button li {
    width: 100%;
  }
  #eb-fblikes {
    overflow: hidden;
    width: 100%;
  }
  #eblog-wrapper .blog-header .blog-avatar {
    float: right !important;
  }
  #ezblog-body .forCategory .profile-avatar,
  #ezblog-body .forTeamBlog .profile-avatar {
    width: auto;
    float: right !important;
    margin: 0 0 10px 15px;
  }
  #ezblog-body .forCategory .profile-avatar .avatar-wrapper img,
  #ezblog-body .forTeamBlog .profile-avatar .avatar-wrapper img {
    width: auto;
  }
  #eblog-wrapper.w320 #ezblog-body .profile-avatar + .profile-info {
    margin: 0;
    padding: 15px 10px;
    clear: none;
  }
}

